# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: getting to know popular languages such as
* Python
* R
* SQL
* Java
* Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matpoltlib
4. TensorFlow

# Data Science Tools
| Tool |
| --- |
| Jupyter Notebook |
| RStudio |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [2]:
x = (3*4)+5
print(x)

17

This will convert 200 minutes to hours by diving by 60.

In [3]:
hours = 200 / 60
print(hours)

3.3333333333333335

## Author
Navid Feghhi